<div class="container row">
  <div class="justify-content-center align-items-center p-4 col-lg-4 col-md-6 mt-4">
    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <!-- <div id="dummy"></div> -->
      <!-- <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated "
          data-wow-delay=".1s">
      </div> -->
    </div>
    <p class="text-muted wow animated " data-wow-delay=".15s">Georgia Tech MSCS 2021 Fall Admitted.</p>
    <p class="text-muted wow animated " data-wow-deley=".15s">Current RA at CUHK Shenzhen Big Data.</p>
    <p class="text-muted wow animated " data-wow-deley=".15s">B.E. in Computer Science and Engineering at CUHK Shenzhen.</p>

  </div>
  <div class="col-lg-8 justify-content-center align-items-center p3">
    <p class="p3_bold"> About me:</p>
    <p>I joined Shenzhen Big Data Institute to work on optimization solver project. </p>
    <p> I was admitted 2020 fall MSCS program at GT but I chose to defer for 1 year. But I still plan to do a thesis track 
      and persue a Ph.D. degree afterwords.</p>
    <p> Before graduating from Chinese University of Hong Kong, Shenzhen campus, 
      I worked with <a href="https://mypage.cuhk.edu.cn/academics/hanxiaoguang/Publications.html">Prof. Han Xiaoguang</a> on 3D generation project from 2D sketches. Our paper is under review.</p>
    <p>In 2019, I interned at DiDi Chuxing vision group at Beijing. 
      We worked on an AR navigation system to guide customers in large indoor facilities. </p>
    <p class="p3_bold">What I am into:</p> 
    <p>I follow pop music quite closely,  turning to classicial from time to time; 
      I enjoy films generally but especially scifi, thrillers, and fantasy; 
      personally very fond of literature and philosophy though I am very much an amateur. </p>
    <p>Oh! And I am picking up French (quite slowly). <div  class="p2">
      Je suis toujours étudiant après tout !</div></p>
  </div>
</div>